div { width: 50%; height: 50%; float: left; }
#img_1{ background: #f7f8fd; background: url(../../../assets/images/ic1.png); background-size: cover;}
#details_{
  background: #f7f8fd;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;}
#img_2{ background: #f7f8fd; background: url(../../../assets/images/ic2.png); background-size: cover;}


.offer_details{
  width: 100%;
  height: 100vh;
}

.details_title{
  color: var(--bg-black);
}

.details_sub{
  color: gainsboro;
  display: flex;
  text-align: justify;
  width: 391px;
  line-height: 24px;
  font-size: 13px;
  margin-top: 20px;
  white-space: normal;
  word-break: break-word;
}
