<div class="offer_details">
  <div id="img_1"></div>
  <div id="details_">
    <h2 class="details_title">Lorem ipsum dolor</h2>
    <p class="details_sub">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
      leo efficitur, venenatis est ut, tincidunt nibh Suspendisse lobortis
      lectus vel imperdiet ullamcorper.
    </p>
  </div>
  <div id="details_">
    <h2 class="details_title">Lorem ipsum dolor</h2>
    <p class="details_sub">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
      leo efficitur, venenatis est ut, tincidunt nibh Suspendisse lobortis
      lectus vel imperdiet ullamcorper.
    </p>
  </div>
  <div id="img_2">Bottom Right</div>
</div>
