
<div class="bg_profile">
  <div class="parent">
    <div class="snowflake"></div>
    <div class="user_pic"></div>

  </div>
    <div class="align">
      <h2 class="title">Template is awesome</h2>
      <p class="details_sub">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>

      <!-- <span>
        <h3>John Doe</h3>
        <p>CEO at Crios.com</p>

      </span> -->
    </div>
</div>
