<div class="bg_offer">
  <span class="main_heading">Lorem ipsum dolor sit amet</span>
  <p class="sub_heading">Lorem ipsum dolor sit amet</p>

  <div class="card">
    <div class="section">
      <div>
        <img class="img_" src="assets/images/c1.png" />
        <h2 class="card_text">Lorem ipsum dolor sit amet</h2>
        <p class="card_subtext">
          Suspendisse vel loo efficitur, venenatis est ut, tincidunt nibh.
        </p>
      </div>
    </div>

    <div class="section">
      <div>
        <img class="img_" src="assets/images/c2.png" />
        <h2 class="card_text">Lorem ipsum dolor sit amet</h2>
        <p class="card_subtext">
          Suspendisse vel loo efficitur, venenatis est ut, tincidunt nibh.
        </p>
      </div>
    </div>

    <div class="section">
      <div>
        <img class="img_" src="assets/images/c3.png" />
        <h2 class="card_text">Lorem ipsum dolor sit amet</h2>
        <p class="card_subtext">
          Suspendisse vel loo efficitur, venenatis est ut, tincidunt nibh.
        </p>
      </div>
    </div>

    <div class="section">
      <div>
        <img class="img_" src="assets/images/c4.png" />
        <h2 class="card_text">Lorem ipsum dolor sit amet</h2>
        <p class="card_subtext">
          Suspendisse vel loo efficitur, venenatis est ut, tincidunt nibh.
        </p>
      </div>
    </div>
  </div>

  <div class="btn_">
    <span class="btn_text"> CHECK OUR OFFER </span>
  </div>
</div>
