<!-- first row -->
<div class="container">
  <div class="row">
    <img class="img_snow" src="../../../assets/images/sn1-bg.png">
    <img class="screen_shot" src="../../../assets/images/app1.png">

  </div>
  <div class="row">
    <div id="details_">
      <h3 class="details_title">Lorem ipsum dolor</h3>
      <p class="details_sub">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>
    </div>
  </div>

  <div class="row">
    <div id="details_">
      <h3 class="details_title">Lorem ipsum dolor</h3>
      <p class="details_sub">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
        leo efficitur, venenatis est ut, tincidunt nibh Suspendisse lobortis
        lectus vel imperdiet ullamcorper.
      </p>
    </div>

  </div>

  <div class="row2">
    <img class="img_snow2" src="../../../assets/images/sn2-bg.png">
    <img class="screen_shot2" src="../../../assets/images/app2.png">
  </div>
</div>



